body{
		background: rgb(180,180,180);
		font-family: helvetica;
	}
	
	h1{
		margin: 0px;
		font-size: 20px;
	}
	
	h2{
		font-size: 13px;
		margin-bottom: 3px;
		margin-top: 5px;
	}
	
	div#interface{
		padding: 10px;
		background: rgb(230,230,230);
		width: 640px;
		height: 240px;
		box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
		margin: auto;
		margin-top: 220px;
	}
	
	div#valores{
		padding: 5px;
		background: #FFF;
		width: 150px;
	}
	
	.iptValores{
		width: 125px;
		margin-bottom: 2px;
	}
	
	label{
		font-size: 9pt;
	}
	
	#btnCalcular{
		position: relative;
		left: 80px;
	}
	
	span#formula{
		background: #fff;
		color: #888;
		font-size: 13px;
		vertical-align: middle;
		display: table-cell;
		border: 1px solid black;
		margin-top: 2px;
		padding: 2px 2px 2px 6px;
		width: 152px;
		height: 17px;
	}
	
	hr#divisoria1{
		position: relative;
		right: 140px;
		bottom: 164px;
		background: #888;
		width: 0.5px;
		height: 207px;
	}
	
	div#resolucao{
		position: relative;
		bottom: 370px;
		left: 190px;
		background: #fff;
		height: 188px;
		width: 440px;
		padding: 5px;
	}
	
	div.processos{
		background: none;
		padding-top: 10px;
		width: 200px;
		height: 150px;
		font-size: 13px;
	}

	fieldset{
		margin-top: 0px;
		padding: 5px;
		font-size: 13px;
	}
	
	div#raizes{
		position: relative;
		bottom: 160px;
		left: 220px;
	}
	
	div#vertice{
		position: relative;
		bottom: 250px;
	}